<a href="https://colab.research.google.com/github/pcsilcan/aed/blob/master/20202/aed_0101_templates.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# C++ Templates!

In [ ]:
%%writefile template1.cpp
#include <iostream>
#include <string>

using namespace std;

template <typename T>
T sumar(T a, T b) {
    return a + b;
}

int main() {

    cout << sumar(5, 6) << endl;
    cout << sumar(5.7, 6.1) << endl;
    cout << sumar(5.7f, 6.1f) << endl;
    cout << sumar(' ', ' ') << endl;
    cout << sumar<string>("Hola, ", "Mundo!") << endl;

    return 0;
}

Overwriting template1.cpp

In [ ]:
%%script bash
g++ template1.cpp && ./a.out

11
11.8
11.8
@
Hola, Mundo!

In [ ]:
%%writefile template2.cpp
#include <iostream>
#include <string>

using namespace std;

template <typename T>
T sum(T* vec, int n) {
    T s = 0;
    for (int i = 0; i < n; ++i) {
        s += vec[i];
    }
    return s;
}

int main() {
    int a[5] = { 1, 2, 3, 4, 5 };
    cout << sum<int>(a, 5) << endl;

    char b[2] = { ' ', ' ' };
    cout << sum<char>(b, 2) << endl;

    float c[3] = { 0.5, .5, 0. };
    cout << sum<float>((float*)c, 3) << endl;


    return 0;
}

Overwriting template2.cpp

In [ ]:
%%script bash
g++ template2.cpp && ./a.out

15
@
1

### Templates y .h

In [ ]:
%%writefile template3.h
#pragma once

template<typename T>
class MiClase {
    T miAtributo;

public:
    MiClase(T miAtributo) : miAtributo(miAtributo) {}
    T getMiAtributo();
    void setMiAtributo(T miAtributo);
};

#include "template3.cpp"

Overwriting template3.h

In [ ]:
%%writefile template3.cpp

#include "template3.h"

template <typename T>
T MiClase<T>::getMiAtributo() {
    return miAtributo;
}

template <typename T>
void MiClase<T>::setMiAtributo(T miAtributo) {
    this->miAtributo = miAtributo;
}

Overwriting template3.cpp

In [ ]:
%%writefile template3Test.cpp
#include <iostream>
#include "template3.h" 

using namespace std;

int main() {
    MiClase<int>* mc = new MiClase<int>(10);

    cout << mc->getMiAtributo() << endl;

    delete mc;

    return 0;
}

Overwriting template3Test.cpp

In [ ]:
%%script bash
g++ template3Test.cpp && ./a.out

10